/* 
    Здесь находится часть, которую НЕ НУЖНО МЕНЯТЬ!!!
*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


.header{
    font-size: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5%;
    background-color: black;
    text-align: center;
    z-index: 4;
}

.header_fixed{
    position: fixed;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.9);
    animation-name: show_header;
    animation-duration: 2s;
}

@keyframes show_header{
	0%{
		opacity: 0;
		top: -5%;
	}
	100%{
	   opacity: 1;
	   top: 0;
	}
}

.menu_item{
    text-align: center;
    color: white;
    font-family: Tahoma;
    font-size: 140%;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 4%;
    line-height: 1;
}

footer{
    width:100%;
    height: 6%;
    margin: 0 auto;
    background: #000;
    text-align: center;
    padding-top: 7px;
}

footer h1{
    text-align: center;
    color: white;
    font-size: 100%;
    margin-left: 10px;
    margin-bottom: -0.3%;
}

footer p{
    text-align: center;
    color: white;
    font-size: 70%;
    margin-left: 10px;
}

.scrollToTop{
    filter: invert(0.4);
    position: fixed;
    width: 50px;
    bottom: 80px;
    right: 70px;
    z-index: 100;
    display: none;
}

.scrollToTop:hover,
.scrollToTop:focus{
    filter: invert(0.7);
    outline: none;
}

body {
background-color: white;
margin: 0;
font-family: 'Fira Sans Condensed', sans-serif;
}


/* 
    Всё, что ниже можно изменить
*/

.video {
    position:relative;
    z-index: 1;
    padding-bottom:56.25%;
}

.video_media {
width:100%;
height: auto;
position: absolute;
top: 0;
left: 0;
}

.intro {
max-height: 95vh;
overflow: hidden;
position: relative;
}

.intro:after {
content: "";
display: block;
width: 100%;
height: 100%;

background-color: rgba(0, 0, 0, 0.7);
position: absolute;
top: 0;
left: 0;
z-index: 2;
}

.intro_content {
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 3;
}

.intro_title {
        font-family: 'Poppins', 'Fira Sans Condensed';
    text-transform: uppercase;
margin: 0;
font-size: 600%;
color: #fff;
text-align: center;
}

.intro_subtitle {
margin: 5%;
font-size: 200%;
color: #fff;
text-align: center;
}

.arrow {
  filter: invert();
  width: 50px;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 25px);
  animation: arrowDown 2s infinite;
}

.arrow.two {
    color: white;
    opacity: 0;
    animation-delay: 1s;
}

@keyframes arrowDown {
  0% {
    bottom: 30px;
    opacity: 1;
  }
  100% {
    bottom: 0px;
    opacity: 0;
  }
}

.about_container{
    display: flex;
    justify-content: center;
}

.about{
    padding-bottom: 40px;
    padding-top: 40px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.about h3{
    text-align: justify;
    padding-bottom: 3%;
    font-size: 140%;
}

.about_item{
    width: 20%;
}

@media screen and (max-width: 768px){
    .about_item{
    width: 40%;
}
}

.navig_container{
    height:1080px;
    background: url(img/bg-image.png);
    background-attachment: fixed;
    background-size: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.navig{
    padding-bottom: 10px;
    padding-top: 40px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.navig img{
    float: left;
    margin: -20px 80px 9px 0;
}

.navig h3{
    text-align: justify;
    padding-top: 6%;
    padding-bottom: -1%;
    font-size: 170%;
    color: white;
}

.navig p{
    text-align: justify;
   color: white;
    font-size: 160%;
}

.navig_item{
    margin-left: 6%;
    margin-bottom: 1%;
    height: 10%;
}


.description_container{
    height:100%;
    background: url(img/bg-image2.png);
    background-attachment: fixed;
    background-size: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.description{
    padding-bottom: 10px;
    padding-top: 40px;
    width: 70%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.description img{
    float: left;
    margin: -35px 80px 9px 0;
}



.description h3{
    margin-left: 9%;
    text-align: center;
    padding-top: 6%;
    padding-bottom: -1%;
    font-size: 170%;
    color: white;
}

.description p{
    color: white;
    font-size: 160%;
}

.description_item{
    margin-left: 20%;
    margin-bottom: 1%;
    height: 10%;
}





